.*.swp
*.so
*.a
*.class
.svn/
*.old
*.bak
.ropeproject/
.DS_Store
.vscode/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.project/
.project
