[color]
	ui = true
[user]
	email = matt@elementalvoid.com
	name = Matt Klich
	signingkey = AAB212FD
[core]
	excludesfile = ~/.gitignore
	pager = less -+$LESS -R
	preloadindex = true
[instaweb]
	browser = google-chrome
[alias]
  commitv = commit -v
  cv = commit -v
  cva = commit -v -a
  cvaa = commit -v -a --amend
  cp = cherry-pick
  logs = log --stat
	logrs = log --raw --stat
  logprs = log -p --raw --stat
  logrsone = log --raw --stat --max-count=1
  logprsone  = log -p --raw --stat --max-count=1
  logone = log --max-count=1
  logsone = log --stat --max-count=1
  logpsone = log -p --stat --max-count=1
	diffstat = diff --stat --color
	st = status
  b = branch
  ba = branch -a
  #diverges = !sh -c 'git rev-list --boundary $1...$2 | grep ^- | cut -c2-'
  diverges = !bash -c 'git rev-parse $(diff <(git log --pretty=oneline ${1}) <(git log --pretty=oneline ${2}) | tail -1 | cut -c 3-42)^'
	oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
	d = diff
  dc = diff --cached
	dcat= !bash -c 'git diff --color ${@} | cat'
  dcatc = !bash -c 'git diff --cached --color ${@} | cat'
[branch]
	autosetupmerge = true
[merge "dpkg-mergechangelogs"]
  name = debian/changelog merge driver
  driver = dpkg-mergechangelogs -m %O %A %B %A
[push]
	default = current
[merge]
	tool = meld
