$include /etc/inputrc
$include /usr/share/readline/inputrc

# disable the annoying bell
set bell-style off

$if Bash
  # Completed dir names have a slash appended
  set mark-directories on
  # Completed names which are symlinks to dirs have a slash appended
  set mark-symlinked-directories on

  # ls -F for completion
  set visible-stats on

  # show completions instead of ringing bell
  set show-all-if-ambiguous on

  # vi mode
  set editing-mode vi
    "\C-x\C-r": re-read-init-file
    "\C-l": clear-screen
    set keymap vi-insert
      "\C-x\C-e": edit-and-execute-command
      "\e.": yank-last-arg # restore Esc+.
      "jj": vi-movement-mode
    set keymap vi-command
      "gg": beginning-of-history
      "G": end-of-history
      "?": reverse-search-history
      "/": forward-search-history
$endif
