$include /etc/inputrc
$include /usr/share/readline/inputrc

# disable the annoying bell
set bell-style off

$if Bash
  # Completed dir names have a slash appended
  set mark-directories on
  # Completed names which are symlinks to dirs have a slash appended
  set mark-symlinked-directories on

  # ls -F for completion
  set visible-stats on

  # show completions instead of ringing bell
  set show-all-if-ambiguous on

  # vi mode
  set editing-mode vi
  "\e.": yank-last-arg # restore Esc+.
  "\C-x\C-r": re-read-init-file
$endif
