helm 3.5.4
kubectl 1.20.7
golang 1.16.3
brig 1.4.0
nodejs 16.1.0
eksctl 0.47.0
ruby 3.0.1
helmfile 0.138.7
stern 1.15.0
terraform 0.15.1
gradle 7.0-milestone-3
octant 0.19.0
terraform-docs 0.13.0
poetry 1.1.6
python 3.9.4
bitwarden v1.9.1
conftest 0.9.1
hub v2.14.2
jq 1.6
sops 3.7.1
tfsec 0.39.29
terraform-validator 3.1.3
yq 4.0.0
sopstool 0.4.2
saml2aws 2.30.0
tflint 0.28.1
pluto 4.1.2
argo 2.12.7
kustomize 4.1.2
linkerd 2.10.1
nova 2.3.1
java openjdk-15
popeye v0.8.10
helm-docs 1.5.0
sinker 0.14.0
tmux 3.2
awscli 2.2.5
go-jira 1.0.27
hey v0.1.4
shellcheck 0.7.2
grpcurl 1.8.1
